.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mt-\[\] {
  margin-top: 
}

.mt-\[500px\] {
  margin-top: 500px
}

.flex {
  display: flex
}

.justify-between {
  justify-content: space-between
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity))
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}
